*{
    margin: 0;
    padding: 0;
        
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(4, 9, 30, 0.07),rgb(4, 9, 30, 0.07)), url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
}
.nav-links ul li a{
    color: #006C9B;
    text-decoration: none;   
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.titulo{
    width: 90%;
    color: #006C9B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.titulo h1{
    font-size: 62px;    
}
.button{
    flex: 1;
    text-align: center;
}
.button ul li{
    list-style: none;
    padding: 10px 14px;
    position: relative;
}
.button ul li a{
    color: #fff;
    text-decoration: none;
    font-family: inherit;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #006C9B;
    margin: 1vh;
}

.pon{
    align-self: center;
    color: #006C9B;
    position: absolute;
    width: 100%;
    left: 50%;
    right: 50%;
    align-self: center;
}
.column{
    float: left;
    width: 31%;
    padding: 2px;
}
.row{
    content:"";
    display: table;
    clear: both;
}
.tyt{
    top: 50%;
    left: 50%;
    text-align: center;
    color:#006C9B ;
}
